{% extends "main.html" %}
{% block content %}
<h2 class="form-title">Editer Capteur</h2>
<form method="post">
    {% csrf_token %}
    
    <div>
    <table>
        <tr>
            <th>Nom</th>
            <th>Piece</th>
            <th>Emplacement</th>
        </tr>
        <tr>
            <td>{{ form.nom }}</td>
            <td>{{ form.piece }}</td>
            <td>{{ form.emplacement }}</td>
        </tr>
    </div>
    <p class="hidden">{{form.id}}</p>
    <input type="submit" value="Valider" class="submit"/>
</form>
{% endblock content %}