{% extends "main.html" %}
{% block content %}
<h2 class="form-title"></h2>

<table>
        <tr>
            <th>Capteur</th>
            
        </tr>
        {% for Capteur in object_list %}
        <tr>
            <td>{{ Capteur }}</td>
            <td><a href="{% url "capteur_update" Capteur.id %}"><img src="https://img.icons8.com/pastel-glyph/344/memo--v2.png" style="width:30px"></a></td>
            <td><a href="{% url "capteur_delete" Capteur.id %}"><img src="https://img.icons8.com/fluency-systems-regular/344/trash--v1.png" style="width:30px"></a></td>
        </tr>
        {% endfor %}
</table>
</div>

{% endblock content %}